.btn {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 900;
  width: 100px;
  height: 40px;
}

.form-submit-btn {
  background-color: salmon;
  color: white;
}

.details-btn {
  margin: 0 auto;
  background-color: salmon;
  color: white;
  transition: all 0.3s ease;
  width: 200px;
}

.details-btn:hover {
  width: 180px;
  height: 35px;
  background-color: rgb(197, 196, 196);
  color: rgb(230, 82, 82);
}

.ingredients-btn {
  background-color: rgb(57, 57, 56);
  color: white;
  width: 80px;
  margin-left: 20px;
}

.ingredients-btn:hover {
  background-color: gainsboro;
  color: rgb(57, 57, 56);
}
